

ul{
  list-style-type: none;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}
ul li{
  background-color: rgba(221, 212, 212, 0.836);
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border:2px solid rgba(126, 122, 122, 0.836);
}

ul li p{
  font-size: 20px;
  margin: 5px;
}

ul li button {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: rgba(49, 48, 48, 0.836);
  border-radius: 14px;
  color: wheat;
}



.Supprimer{
background-color: red;
}